::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-button {
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-track-piece {
}
::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: rgba(108, 99, 255, 0.9);
}
::-webkit-scrollbar-corner {
}
::-webkit-resizer {
}
@tailwind base;
@tailwind components;
@tailwind utilities;
